@import url("https://use.typekit.net/xpb4pgc.css");

.recommend_items {
  margin-top: 80px;
  color: white;
}

.recommend_items h2 {
  font-family: "chaloops", sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}
