@import url("https://use.typekit.net/xpb4pgc.css");

.movie_carousel {
  margin: 72px 0 24px;
}

.movie_title {
  padding-left: 64px;
  color: white;
  font-family: "chaloops", sans-serif;
}

.carousel-container {
  overflow: hidden;
  height: 440px;
}

@media only screen and (max-width: 992px) {
  .movie_title {
    padding-left: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .movie_title {
    padding-left: 24px;
  }
}
