@import url("https://use.typekit.net/xpb4pgc.css");

.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 0.5s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
}

.overlay:hover {
  padding: 16px;
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
}

.overlay h1 {
  font-size: 1.6rem;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .movie-card {
    width: 230px;
    height: 345px;
  }
}

@media only screen and (max-width: 439px) {
  .movie-card {
    width: 200px;
    height: 300px;
  }

  .overlay h1 {
    font-size: 1.2rem;
  }

  .movie_info {
    margin-top: 20px;
  }
  .popularity,
  .movie_audult {
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .movie-card {
    width: 160px;
    height: 240px;
  }
  .overlay h1 {
    font-size: 1rem;
  }

  .overlay span {
    font-size: 10px;
  }

  .popularity,
  .movie_audult {
    font-size: 12px;
  }
}
